<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
  <script>
      wx.config({
          debug: true,
          appId: '<%=@appid %>',
          timestamp: '<%=@timestamp %>',
          nonceStr: '<%=@nonce_str %>',
          signature: '<%=@signature %>',
          jsApiList: [
              'onMenuShareTimeline'
          ]
      });
      wx.ready(function () {
          wx.onMenuShareTimeline({
              title: '测试分享', // 分享标题
              link: 'http://www.e-mxing.com', // 分享链接
              imgUrl: 'http://saas.e-mxing.com/assets/background/logo-b4c79257825df43e15615ea7ae40c404.png', // 分享图标
              success: function () {
                  alert("分享完成");
              },
              cancel: function () {
                  alert("分享取消");
                  // 用户取消分享后执行的回调函数
              }
          });
      });
      wx.ready(function () {
      });
      wx.error(function (res) {
      });
  </script>
</head>
<body>
1111
</body>
</html>